### Server ###
PORT=3000

##### jwt secret #####
SECRET=dimelo

##### db and host ####
DB_NAME=notes_app
DB_USER=root
DB_HOST=localhost 
DB_PASS=""
DB_DIALECT=mysql

# If DB_FORCE is True, all database tables will be dropped in server start
DB_FORCE=False